# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [2]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [6]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [7]:
iterator = iter([1,2,3,4])
output = []
def divisible2(iterator):
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
    for i in iterator:
        if (i % 2 == 0):
            output.append(i)
    if output == []:
        return(0)
    return(output)
        
divisible2(iterator)

[2, 4]

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [8]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [9]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [10]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    
    number = 0
    while number < n:
        if (number % 2 == 0):
            yield number
        number = number + 1
            
            
            
iterator = even_iterator(5)

for i in iterator:
    print(i)

0
2
4

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [11]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [12]:
# Your code here:
iris.head(50)

    sepal_length  sepal_width  petal_length  petal_width    iris_type
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa
24           4.8          3.4           1.9          0.2  Iris-setosa
25           5.0          3.0           1.6          0.2  Iris-setosa
26           5.0          3.4           1.6          0.4  Iris-setosa
27           5.2          3.5           1.5          0.2  Iris-setosa
28           5.2          3.4           1.4          0.2  Iris-setosa
29           4.7          3.2           1.6          0.2  Iris-setosa
30           4.8          3.1           1.6          0.2  Iris-setosa
31           5.4          3.4           1.5          0.4  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
34           4.9          3.1           1.5          0.1  Iris-setosa
35           5.0          3.2           1.2          0.2  Iris-setosa
36           5.5          3.5           1.3          0.2  Iris-setosa
37           4.9          3.1           1.5          0.1  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
39           5.1          3.4           1.5          0.2  Iris-setosa
40           5.0          3.5           1.3          0.3  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
43           5.0          3.5           1.6          0.6  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
45           4.8          3.0           1.4          0.3  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
47           4.6          3.2           1.4          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa
49           5.0          3.3           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [13]:
# Your code here:
sepal_length_addition = []
for x in iris['sepal_length']:
    sepal_length_addition.append(x)
    
sepal_length_mean = np.mean(sepal_length_addition)
sepal_length_mean

#Create a new array to capture numbers
#captures the numbers into the array
#uses numpy to output total mean of given array

5.843333333333334

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [14]:
# Your code here:

np.std(sepal_length_mean)
#it cant give a deviation because there is no data beside the mean.

0.0

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [15]:
# Your code here:

iris_numeric = iris._get_numeric_data()

iris_numeric.head(6)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [16]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    convert = (x * 0.393701)
    return(convert)

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [17]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [18]:
# Define constant below:

def add_constant(x, error = 2):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    constant_fix = (x + error)
    return(constant_fix)

iris_constant = add_constant(iris_inch)
iris_constant.head()

   sepal_length  sepal_width  petal_length  petal_width
0      4.007875     3.377954      2.551181      2.07874
1      3.929135     3.181103      2.551181      2.07874
2      3.850395     3.259843      2.511811      2.07874
3      3.811025     3.220473      2.590552      2.07874
4      3.968505     3.417324      2.551181      2.07874

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [19]:
# Your code here:
def max_row_value(x):
    test = x.max(axis=1)
    return(test)

max_row_value(iris_numeric).head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [20]:
# Your code here:
def length_width_calc(x):
    x['max_value'] = x.max(axis=1)
    x['total_length'] = x['sepal_length'] + x['petal_length']
    x['total_width'] = x['sepal_width'] + x['petal_width']
    return(x.head())
    
length_width_calc(iris_numeric)

,sepal_length,sepal_width,petal_length,petal_width,max_value,total_length,total_width
0,5.1,3.5,1.4,0.2,5.1,6.5,3.7
1,4.9,3.0,1.4,0.2,4.9,6.3,3.2
2,4.7,3.2,1.3,0.2,4.7,6.0,3.4
3,4.6,3.1,1.5,0.2,4.6,6.1,3.3
4,5.0,3.6,1.4,0.2,5.0,6.4,3.8