# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.zip")
orders.head(20)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
orders.amount_spent.quantile([0.25,0.5,0.75,0.95])
        
top_cust = orders.groupby('CustomerID').agg({'amount_spent':'sum'})    
Preffered = 19.80
VIP = 67.50

vip_customers = top_cust[top_cust > VIP].dropna()
preferred_customers = top_cust[(top_cust >= Preffered) & (top_cust <= VIP)].dropna()

print(vip_customers.sort_values('amount_spent', ascending=False).head(5))
print(preferred_customers.sort_values('amount_spent', ascending=False).head(5))

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
            amount_spent
CustomerID
13684              67.23
17382              65.40
13130              64.00
13302              63.75
17263              63.44

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [4]:
# your code here
top_cust = orders.groupby(['CustomerID', 'Country']).agg({'amount_spent':'mean'}).sort_values('amount_spent', ascending=False)
top_cust.head(5)

#United Kingdom!

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
16446      United Kingdom      56157.50
15098      United Kingdom      13305.50
15749      United Kingdom       4453.43
15195      United Kingdom       3861.00